.product {
  max-width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
  border: 2px solid burlywood;
  border-radius: 16px;

  .product-img {
    width: 100%;
    border-radius: 16px;
  }

  &__title {
    font-size: 16px;
    margin-right: auto;
  }

  &__price {
    font-size: 24px;
    font-weight: 600;
    margin-right: auto;
  }

  &__btn {
    background-color: var(--bg-btn-default2);
    width: 100%;
    height: 40px;
    border: 2px solid var(--bg-btn-default);
    border-radius: 12px;
    transition: all 0.4s ease;

    & > span {
      display: inline-block;
      width: 22px;
      height: 22px;
      font-size: 16px;
      background: var(--bg-btn-default2);
      border-radius: 50%;
      color: var(--bg-btn-default);
    }

    &:hover {
      background-color: var(--bg-btn-hover);
      color: var(--text-white);
    }
  }
}
