.delivery-wrapper {
  margin-top: var(--spacing-large);

  .delivery {
    display: flex;
    gap: var(--spacing-large);
    flex-wrap: wrap;

    &__item {
      font-size: 16px;
      cursor: pointer;
      border: 2px solid var(--bg-btn-active);
      border-radius: 5px;
      padding: var(--spacing-small);
      transition: all 0.4s;

      &:hover {
        background: var(--bg-btn-hover);
        color: var(--text-white);
      }
    }
    &__body {
      margin-top: var(--spacing-large);
      display: flex;
      flex-direction: column;
      gap: var(--spacing-large);

      .all-orders {
        background: linear-gradient(
          0deg,
          rgba(204, 168, 233, 1) 0%,
          rgba(222, 252, 249, 1) 100%
        );
        padding: var(--spacing-small);
        display: flex;
        flex-direction: column;
        gap: var(--spacing-medium);
        border-radius: var(--spacing-small);

        &__header {
          font-weight: 600;
          color: #10074e;
        }

        &__body {
          display: flex;
          flex-direction: column;
          gap: var(--spacing-medium);

          .order {
            list-style-position: inside;
            font-size: 18px;

            .name {
              font-weight: 600;
              margin: var(--spacing-small) 0;
            }
          }
        }
        &__customer {
          .customer {
            summary {
              cursor: pointer;
              margin-bottom: var(--spacing-small);
            }
            .customer-info > a {
              color: var(--bg-btn-active);
              font-weight: 600;
            }
          }
        }
        &__total-price {
          .delivery {
            color: red;
            font-size: 16px;
            font-weight: 600;
          }
        }
      }
    }
  }
}

// #CCA8E9
