.admin-products-page {
  margin-top: var(--spacing-large);
  display: flex;
  gap: var(--spacing-large);

  &__list {
    flex: 8;

    .admin-products-create {
      color: #9197b3;
      font-weight: 600;

      &__btn {
        width: 122px;
        background: white;
        margin-left: auto;
        padding: 5px;
        display: flex;
        align-items: center;
        gap: var(--spacing-small);
        border: 2px solid var(--bg-btn-admin);
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background: var(--bg-btn-admin);
          color: white;
        }
        & > svg {
          width: 24px;
          height: 24px;
        }
      }

      &__title {
        margin-bottom: var(--spacing-large);
      }

      .admin-create-product {
        margin-top: var(--spacing-large);
        display: flex;
        flex-direction: column;
        gap: var(--spacing-small);

        &__input {
          border: 2px solid var(--bg-btn-active);
          border-radius: 5px;
          padding: 5px;
        }
        & > label {
          margin-left: 10px;
          color: gray;
          font-weight: 400;
        }

        & > label > input {
          margin-left: 10px;
          width: 18px;
          height: 18px;
        }

        select:invalid {
          color: gray;
        }
        option[value=""][disabled] {
          color: gray;
        }
        option {
          color: black;
        }

        &__buttons {
          margin-left: auto;
          display: flex;
          gap: var(--spacing-small);
        }

        &__btn {
          margin-left: auto;
          padding: 5px;
          border: 2px solid var(--bg-btn-admin);
          border-radius: 5px;
          color: #9197b3;
          font-weight: 600;

          &:hover {
            background: var(--bg-btn-admin);
            color: white;
          }
        }
      }
      .admin-products {
        display: grid;
        grid-template-columns: repeat(4, minmax(160px, 1fr));
        gap: var(--spacing-small);

        &__list {
          height: 180px;
          padding: var(--spacing-small);
          border: 2px solid var(--bg-btn-admin);
          border-radius: 5px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        &__img {
          object-fit: contain;
          width: 100%;
          height: 65%;
        }
        &__title {
          color: black;
        }
        .admin-products__setting {
          display: flex;
          justify-content: space-between;

          & > svg {
            width: 24px;
            height: 24px;
            cursor: pointer;
          }

          .admin-products-icon-edit {
            color: green;
          }
          .admin-products-icon-delete {
            color: red;
          }
        }
      }
      &__out-image {
        width: 250px;
        position: relative;

        .admin-products-image {
          width: 100%;
        }
        .icon-delete {
          position: absolute;
          top: 10px;
          right: 10px;
          width: 24px;
          height: 24px;
          cursor: pointer;
          color: red;
        }
      }
    }
  }
}
