.footer {
  margin-top: var(--spacing-large);
  padding: var(--spacing-medium);
  display: flex;
  justify-content: space-between;

  &__left {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .footer-img {
      width: 64px;
      height: 64px;
    }
  }

  &__copyright {
    font-size: 12px;
  }

  &__center {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__title {
    font-size: 24px;
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }

  &__social {
    display: flex;
    gap: 16px;

    .social-icon {
      width: 36px;
      height: 36px;
      color: var(--bg-icon);
    }
  }
}
