.header {
  &__top-bg {
    height: 300px;
    background-image: url(../../static/img/bg-header-kioto.jpg);
    background-size: cover;
    background-position: center 65%;
    background-repeat: no-repeat;

    @media (max-width: 424px) {
      display: none;
    }
  }
  .header-wrapper {
    margin-top: var(--spacing-small);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-small);
  }
  &__logo-img {
    height: 80px;
    width: 80px;
  }
  &__logo-name {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);

    @media (max-width: 570px) {
      display: none;
    }

    .logo-title {
      font-size: 22px;
      line-height: 26px;
      font-weight: 600;
    }
    .logo-subtitle {
      @media (max-width: 975px) {
        display: none;
      }
    }
  }

  .phone-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-small);

    @media (max-width: 510px) {
      display: none;
    }

    &__title {
      font-size: 16px;
      text-transform: uppercase;
    }

    &__number {
      width: auto;
      font-weight: 600;
      color: var(--bg-btn-active);
      border-bottom: 2px solid transparent;

      &:hover {
        border-bottom: 2px solid var(--bg-btn-active);
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: var(--spacing-medium);
  }

  &__basket {
    position: relative;
    width: auto;
    padding: var(--spacing-small);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--spacing-small);
    border-radius: var(--spacing-small);
    cursor: pointer;
  }

  &__basket-icons {
    height: 28px;
    width: 28px;
    color: var(--bg-btn-default);
  }

  &__basket-cart {
    position: absolute;
    top: -5px;
    left: 35px;
    font-size: 14px;
    background-color: var(--bg-btn-active);
    color: var(--text-white);
    padding: 2px 4px;
    border-radius: 35%;
  }

  &__login-btn {
    font-size: 20px;
    background-color: #ffffff;
    padding: 5px;
    border: 2px solid var(--bg-btn-default);
    border-radius: 10px;
    transition: all 0.4s ease;

    &:hover {
      background-color: var(--bg-btn-default);
      color: #ffffff;
    }
  }

  &__logout {
    display: flex;
    gap: 10px;

    &-btn {
      padding: 5px;
      font-size: 14px;
      font-weight: 600;
      background: var(--bg-gray);
      color: var(--text-white);
      border-radius: 10px;
      transition: all 0.4s ease;

      &:hover {
        background: var(--bg-btn-default);
      }
    }
  }
}
