.header {
  .header-wrapper {
    margin-top: var(--spacing-small);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-small);
  }
  &__logo-img {
    height: 80px;
    width: 80px;
  }
  &__logo-name {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);

    @media (max-width: 570px) {
      display: none;
    }

    .logo-title {
      font-size: 22px;
      line-height: 26px;
      font-weight: 600;
    }
    .logo-subtitle {
      @media (max-width: 975px) {
        display: none;
      }
    }
  }

  .phone-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-small);

    @media (max-width: 510px) {
      display: none;
    }

    &__title {
      font-size: 16px;
      text-transform: uppercase;
    }

    &__number {
      width: auto;
      font-weight: 600;
      color: var(--bg-btn-active);
      border-bottom: 2px solid transparent;

      &:hover {
        border-bottom: 2px solid var(--bg-btn-active);
      }
    }
  }

  &__right {
    position: relative;
    display: flex;
    gap: var(--spacing-medium);

    & > svg,
    & > a > svg {
      height: 28px;
      width: 28px;
      color: var(--bg-btn-default);
      cursor: pointer;
    }
  }

  &__basket-cart {
    position: absolute;
    top: -5px;
    left: 30px;
    color: var(--bg-btn-active);
    font-size: 14px;
    font-weight: 600;
  }
}
